<div class="container">
  <form class="update-image">
    <!-- <input type="submit" class="btn btn-secondary btn-sm" value="Update This Image"> -->
    <input type="hidden" name="id" value="{{image.id}}">
    <input class="btn btn-secondary navbtn btn-lg btn-block" type="submit" value="Update My Images" data-toggle="modal" data-target="#update-image-modal">
  </form>
  {{#each images as |image|}}
    <!-- in case we need the `image.id` to reference/find -->
    <!-- <section data-id="{{image.id}}"> -->
    <!-- <div class="d-flex bd-highlight"> -->
    <div class="p-2 flex-shrink-1 bd-highlight">
      <p><img src="{{image.fileUrl}}" width="100%" title="Name:{{image.fileName}} &#10; Created:{{image.createdAt}} &#10; Updated:{{image.updatedAt}} &#10; Owner:{{image.owner}} &#10;" class="hover"></p>
      <p>
        <form class="delete-image">
          <input type="submit" class="btn btn-secondary btn-sm btn-block" value="Delete This Image">
          <input type="hidden" name="id" value="{{image.id}}">
        </form>

      </p>
      <p>Tag: {{image.tag}}</p>
      <p>Description: {{image.description}}</p>
    </div>
    <!-- </div> -->
    <!-- </section> -->
  {{/each}}
  </ul>
</div>
